.button {
  width: 268px;
  height: 40px;

  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border: none;
  background-color: white;

  font: 500 16px / 18px Quicksand;

  &:hover {
    color: white;
    background-color: #fe82c0;
  }

  &:active {
    color: white;
    background-color: #f31986;
  }
  &:disabled {
    cursor: default;
    outline: none;
    color: black;
    background-color: white;
  }
}

.button_dark {
  background-color: #fbd1f3;
}

.button_flat {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.button_clear {
  background-color: transparent;
  border: none;
  color: white;
  fill: white;

  &:hover {
    background-color: transparent;
    fill: #fbd1f3;
    color: #fbd1f3;
  }
}
