.button {
  width: 268px;
  height: 40px;

  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  border: none;
  background-color: white;

  font: 500 18px / 21px "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;

  &:hover {
    color: white;
    background-color: #fe82c0;
  }

  &:active {
    color: white;
    background-color: #f31986;
  }
  &:disabled {
    cursor: default;
    outline: none;
    color: black;
    background-color: white;
  }
}

.button_light {
  background-color: #fbd1f3;
}
