.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;

  @media screen and (max-width: 1023.98px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.review {
  width: 468px;
  max-height: 600px;

  @media screen and (max-width: 1023.98px) {
    width: auto;
    min-width: 468px;
    max-width: 700px;
    min-height: 180px;
  }

  @media screen and (max-width: 599.98px) and (orientation: portrait) {
    min-width: 300px;
    max-width: 400px;
    max-height: unset;
  }
}
