.header {
  width: 100dvw;
  height: 62px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--header-border-color);
  padding: 5px 25px 5px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  z-index: 1;

  @media screen and (max-width: 1024.98px) and (orientation: portrait) {
    padding-left: 5px;
    padding-right: 10px;
  }
}

.buttons {
  display: flex;
  justify-items: flex-end;
}

.cart {
  width: fit-content;
  height: fit-content;

  flex-direction: column;
  flex-shrink: 0;
  gap: 0;
}
