.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}

.review {
  max-width: 468px;
  min-height: 200px;
  max-height: 600px;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;

  & > div {
    width: 350px;
    max-height: 812px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.product__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.product__heading {
  font: 500 16px / 18px Quicksand;
  text-align: center;
  color: black;
}

@media screen and (max-width: 1024.98px) and (orientation: portrait) {
  .reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .review {
    max-width: 600px;
    min-height: 180px;
  }
  .items {
    display: flex;
    flex-direction: column;
    & > div {
      max-height: max-content;
    }
  }
}

@media screen and (max-width: 599.98px) and (orientation: portrait) {
  .reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .review {
    max-width: 400px;
    max-height: unset;
  }
  .items {
    display: flex;
    flex-direction: column;
    & > div {
      max-height: max-content;
    }
  }
  .buttons__wrapper {
    max-width: 100%;
    gap: 5px;
  }
}
