.products__container {
  display: grid;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;

  justify-self: end;
  margin-bottom: 10px;
  fill: var(--icon-fill-color);
}

.items {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 50px;
  justify-items: center;
  color: var(--text-color);

  & > div {
    width: 350px;
    max-height: 812px;
  }
}

.items_more {
  padding: 0 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  grid-row-gap: 10px;

  & > div {
    width: 95%;
    height: 350px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.product__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  cursor: pointer;
}

.product__price {
  font: 600 20px / 24px Quicksand;
  text-align: center;
  color: black;
}

.product_name {
  font: 500 16px / 18px Quicksand;
  text-align: center;
  color: black;
  
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.product__image {
  max-height: 500px; 
  max-width: 100%;
}

.product__image_small {
  max-height: 200px; 
}

@media screen and (max-width: 1189.98px) {
  .icons {
    display: none;
  }
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
      max-height: max-content;
    }
  }
}

@media screen and (max-width: 599.98px) and (orientation: portrait) {
  .items {
    display: flex;
    flex-direction: column;
    & > div {
      max-height: max-content;
    }
  }
  .buttons__wrapper {
    max-width: 100%;
    gap: 5px;
  }
}
