@import "reset.scss";

#root {
  width: 100dvw;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body,
html,
#root {
  min-height: 100dvh;
  min-width: 100dvw;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: thin;
}

.main {
  min-height: 100dvh;
  min-width: 100dvw;
  padding: 3rem;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 100px;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}

.review {
  max-width: 468px;
  min-height: 200px;
}

.cart {
  min-width: 600px;
  min-height: 150px;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;

  & > div {
    width: 350px;
    max-height: 812px;
    img {
      justify-self: center;
    }
  }
}

.cartItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.cartTotal {
  grid-column-start: 3;
}

.product__info {
  display: grid;
  grid-gap: 10px;
}

.product__heading {
  font: 500 28px / 32px "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  justify-self: center;
}

@media screen and (max-width: 1024.98px) and (orientation: portrait) {
  .reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .review {
    max-width: 600px;
    min-height: 180px;
  }
  .cart {
    max-width: 600px;
    min-width: auto;
  }
  .items {
    display: flex;
    flex-direction: column;
    & > div {
      max-height: max-content;
    }
  }
}

@media screen and (max-width: 599.98px) and (orientation: portrait) {
  .reviews {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .review {
    max-width: 400px;
  }
  .cart {
    max-width: 400px;
    min-width: auto;
  }
  .items {
    display: flex;
    flex-direction: column;
    & > div {
      max-height: max-content;
    }
  }
}
