@import "reset.scss";
@import "theme.scss";

#root {
  width: 100dvw;
  min-height: 100dvh;
  margin: 0 auto;
  text-align: center;
}

body,
html,
#root {
  min-height: 100dvh;
  min-width: 100dvw;
}

body {
  font-family: Quicksand;
  overflow-x: hidden;
}

* {
  transition: opacity 0.2s ease-in-out, text-decoration 0.2s ease-in-out,
    background-color 0.2s ease-in-out, -webkit-text-decoration 0.2s ease-in-out;
}
